<script>
    var dialog = $("#delete-workout-dialog").dialog({title: 'Confirm delete', autoOpen:false});
  $('a.workout-delete-button').on('click', function(e){
      e.preventDefault();
      dialog.find('#delete-link').button();
      dialog.find('#delete-link').attr('href', $(e.target).parent('a').attr('href'));
      dialog.dialog('open');
      dialog.find("#cancel").click(function(){dialog.dialog('close')});
  });
</script>
<%= flash[:notice] %>
<div id="workouts-area">
    <% @workouts.each do |workout|  %>
        <h3 id="workout-item"><span id="workout-name"><%= workout.name %>,</span>
          <span class="workout-goal-time">Goal Time -- <%= workout.goal_time %></span>
          <div class="btngrp">
            <%= link_to '', edit_user_workout_path(id:workout.id, user_id: current_user.id), class:'workout-edit-button', title:'Edit'%>
            <%= link_to '', play_user_workout_path(id:workout.id), class:'workout-play-button', title: 'Play' %>
            <%= link_to '', user_workout_path(id:workout.id), class:'workout-delete-button', title:'Delete' %>
          </div>
        </h3>
        <div class="content">
            Description: <br><%= workout.descript %>
        </div>

  <% end %>

</div>
<div id="delete-workout-dialog" style="display:none">
  Are you sure you want to delete this workout?<br>
  This action cannot be undone...<br>
  <%= link_to 'Yes, trash it', '#', method: 'delete', id: 'delete-link' %>
  <button id="cancel">No! Never!</button>
</div>