<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, 'First Name:' %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, 'Last Name:' %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email, 'Email:' %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :username, 'Username:' %><br>
    <%= f.text_field :username %>
  </div>
   <% if @editing %>
       <div class="field">
         <%= f.label :original_password %><br>
         <%= f.password_field :original_password %>
       </div>
   <% end %>
  <div class="field">
    <%= f.label :password, 'Password:' %><br>
    <%= f.password_field :password %>
  </div>
    <div class="field">
      <%= f.label :password_confirmation, 'Confirm Password:' %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  <div class="field">
    <%= f.label :city, 'City:' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state, 'State:' %><br>
    <%= f.select :state, us_states %>
  </div>
  <div class="field">
    <%= f.label :country, 'Country:' %><br>
    <%= f.country_select :country %>
  </div>
  <div class="actions">
    <% if @editing %>
        <%= f.submit 'Update My Profile' %>
    <% else %>
        <%= f.submit 'Create My Account' %>
    <% end %>
  </div>
<% end %>
